<div class="card mb-4">
	<div class="card-header">
		<h3 class="mb-0">
			Latest Comments
		</h3>
	</div>
	<div class="card-body">
		<ul id="sb-comments" class="media-list">
			{{#each sidebar.comments}}
			<li class="mb-2 media">
				<a
					class="pull-left"
					href="/images/{{image.uniqueID }}">
					<img
					    style="border-radius: 50%;"
						class="media-object mr-2"
						width="45"
						height="45"
						src="{{ image.url }}"
					/>
				</a>
				<div class="media-body">
					{{comment}}<br />
					<em>by &nbsp;</em><strong class="media-heading">{{name}}</strong>
					<small class="text-muted"> {{timeago timestamp }}</small>
				</div>
			</li>
			{{/each}}
		</ul>
	</div>
</div>
