<div class="card mb-4">
	<div class="card-header">
		<span class="font-weight-bold">
			Latest comments
		</span>
	</div>
	<div class="card-body">
		<ul id="sb-comments" class="media-list p-0">
			{{#each sidebar.comments}}
			<li class="mb-2 media">
				<a
					class="pull-left"
					href="/images/{{image.uniqueID }}">
					<img
					    style="border-radius: 50%;"
						class="media-object mr-2"
						width="45"
						height="45"
						src="{{thumbnail image.url (dict 'h' 75)}}"
					/>
				</a>
				<div class="media-body">
					{{comment}}<br />
					<em>by &nbsp;</em><strong class="media-heading">{{ user.username}}</strong>
					<small class="text-muted"> {{timeago timestamp }}</small>
				</div>
			</li>
			{{/each}}
		</ul>
	</div>
</div>
