<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{#if title}}{{title}}{{else}}{{{block "title"}}}{{/if}}</title>

    {{#if (eq 'development' getEnv)}}
    <link rel="stylesheet" href="{{ static 'css/vendor/bootstrap/bootstrap.min.css' }}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ static 'css/vendor/fontawesome/css/all.min.css' }}"
    />
    {{/if}}
    <link rel="stylesheet" href="{{ static 'css/style.css' }}" />
</head>