<!DOCTYPE html>
<html class="h-100" lang="en">
	{{> head this }}
	<body class="h-100">
		{{> header this }}
		<div class="container-fluid">
			<div class="row">
				<main class="col-md-{{#if showSidebar}}8{{else}}12{{/if}}">
					{{{ body }}}
				</main>
				{{#if showSidebar }}
				<aside class="col-md-4">
					{{> stats this }} {{> popular this }} {{> comments this }}
				</aside>
				{{/if}}
			</div>
		</div>
		{{> footer this }}

		{{#if (eq 'production' getEnv )}}

		{{ else }}
		<script src="{{ static 'js/lib/jquery.min.js' }}"></script>
		<script src="{{ static 'js/lib/bootstrap.bundle.min.js' }}"></script>
		{{/if}}
		<script src="{{ static 'js/app.js' }}"></script>
		{{{block "scripts"}}}
	</body>
</html>
