
<section class="card mb-4">
	<div class="card-header">
		<form class="form-inline" action="" id="sort-feed-form">
			<select class="font-weight-bold form-control" name="sort_by" id="sort-feed">
				<option {{#if (eq sortBy "timestamp") }}selected{{/if}} value="timestamp">Newest</option>
				<option {{#if (eq sortBy "likes") }}selected{{/if}} value="likes">Most Viral</option>
			</select>
		</form>
	</div>
	<div class="card-body row row-cols-1 row-cols-md-2 row-cols-md-3 mr-0 ml-0">
		{{#each images}}
		<div class="col-md-6 col-lg-4">
			<div class="card mb-4 shadow-sm border-dark">
				<div class="card-header">
					<div class="row">
						<img src="{{user.avatar_url}}" alt="">
						<div class="col-10">
							<h6 class="p-0 m-0 font-weight-bold">{{title}}</h6>
							<em>{{user.username}}</em>
						</div>
					</div>
				</div>
				<a
					class="text-decoration-none text-white"
					href="/images/{{uniqueID}}"
					><img
						src="{{ url }}"
						alt="{{ title }}"
						style="height: 175px;"
						class="card-img-top w-100"
					/>
					<div class="card-body text-center">
						<p class="card-text m-0">{{ title }}</p>
						<div class="d-flex justify-content-between">
							<span>
								<i class="far fa-heart"></i>
								{{ likes.length }}
							</span>
							<span>
								<i class="far fa-comments"></i>
								{{ commentsCount }}
							</span>
							<span>
								<i class="far fa-eye"></i>
								{{ views }}
							</span>
						</div>
					</div></a
				>
			</div>
		</div>
		{{/each}}
	</div>
</section>

{{# extend "scripts"}}
<script>
	$('#sort-feed').on('change', function (e) {
		window.location.href = `/?sort=${e.target.value}`;
	});
</script>
{{/extend}}
