<section id="upload-form-section" class="card border border-primary mb-4">
	<div class="card-header bg-primary text-white">
		<h3 class="mb-0">
			Upload an Image
		</h3>
	</div>
	<form
		id="upload-new-form"
		action="/images"
		method="POST"
		enctype="multipart/form-data"
	>
		<div class="card-body">
			<div class="form-group row col-md-12">
				<label for="file" class="col-md-2 col-form-label control-label"
					>Browse:</label
				>

				<input
					type="file"
					name="file"
					id="file"
					class="form-control col-md-10"
					required
				/>
			</div>
			<div class="form-group row col-md-12">
				<label
					for="title"
					class="col-md-2 col-form-label control-label"
				>
					Title:
				</label>
				<div class="col-md-10">
					<input
						type="text"
						name="title"
						class="form-control"
						required
					/>
				</div>
			</div>
			<div class="form-group row col-md-12">
				<label
					style="word-wrap: normal;"
					class="col-md-2 col-form-label control-label"
					for="description"
					>Description:
				</label>
				<div class="col-md-10">
					<textarea
						name="description"
						id=""
						cols="30"
						rows="2"
						class="form-control"
					></textarea>
				</div>
			</div>
			<div class="form-group row col-md-12">
				<div class="col-md-12 text-right">
					<button
						class="btn btn-success"
						type="submit"
						id="submit-btn"
					>
						<i class="fa fa-cloud-upload-alt"></i>
						Upload Image
					</button>
				</div>
			</div>
		</div>
	</form>
</section>

<section class="card mb-4">
	<div class="card-header">
		<form class="form-inline" action="" id="sort-feed-form">
			<select class="font-weight-bold form-control" name="sort_by" id="sort-feed">
				<option {{#if (eq sortBy "timestamp") }}selected{{/if}} value="timestamp">Newest</option>
				<option {{#if (eq sortBy "likes") }}selected{{/if}} value="likes">Most Viral</option>
			</select>
		</form>
	</div>
	<div class="card-body row row-cols-1 row-cols-md-2 row-cols-md-3 mr-0 ml-0">
		{{#each images}}
		<div class="col-md-6 col-lg-4">
			<div class="card mb-4 shadow-sm border">
				<a
					class="text-decoration-none text-dark"
					href="/images/{{uniqueID}}"
					><img
						src="{{ url }}"
						alt="{{ title }}"
						style="height: 150px;"
						class="card-img-top w-100"
					/>
					<div class="card-body text-center">
						<p class="card-text m-0">{{ title }}</p>
						<div class="d-flex justify-content-between">
							<span>
								<i class="far fa-heart"></i>
								{{ likes.length }}
							</span>
							<span>
								<i class="far fa-comments"></i>
								{{ commentsCount }}
							</span>
							<span>
								<i class="far fa-eye"></i>
								{{ views }}
							</span>
						</div>
					</div></a
				>
			</div>
		</div>
		{{/each}}
	</div>
</section>

{{# extend "scripts"}}
<script>
	$('#sort-feed').on('change', function (e) {
		window.location.href = `/?sort=${e.target.value}`;
	});
</script>
{{/extend}}
